#navigation
{
  justify-content: flex-start;
}

.buttonGroup
{
  margin: 10px;
  width: 120px;
  text-align: center;
}

.formButton
{
    margin: 10px;
    width: 150px;
    text-align: center;
}

#button.focus, #button:focus
{
    color: #fff;
    border: none;
    box-shadow: none;
}

nav
{
    /*background-color: #e3f2fd;*/
    background-color: #E1E1E1;
}

.formTitle
{
    margin: 20px auto;
}

.readonly
{
    background-color: #E9ECEF !important;   /* Hellaas is de important selector nodig om bootstrap te overschrijven */
}

.content
{
    margin-bottom: 20px;
    margin-top: 20px;
}

.vervanging
{
    background-color: #F5C6CB;
}

.nazicht
{
    background-color: #FFEEBA;
}

.invalid
{
    color: red;
}

.hallName
{
    font-weight: normal;
}

.hallsList
{
    margin: 15px 0;
    font-weight: bold;
}

h2 img
{
    margin-right: 20px;
}